<div class="comment-new-box">
  <% if flash[:error].present? %>
    <% flash[:error].each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <%= form_with(model: [@todo, @comment], local: true) do |form| %>
    <div class="comment-new-form">
       <%= form.text_area :text, class: "newtext", rows: 5, cols: 33, value: @comment.text %>
      <div class="submit-button comment-new-submit">
        <%= form.submit "編集する" %>
      </div>
    </div>
  <% end %>
  
</div>