<div class="comment-new-box">
  <% @comment.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>

  <%= form_tag("/todos/#{params[:to_do_id]}/comment/create") do %>
    <div class="comment-new-form">
      <textarea class="newtext" name="text" value="<%= @comment.text %>" rows="5" cols="33"></textarea>
      <div class="submit-button comment-new-submit">
        <input type="submit" value="コメントする">
      </div>
    </div>
  <% end %>
</div>