<div class="todo">
  <div class="todo-header">
    <h1>投稿一覧</h1>
    <div class="todo_main">
      <div class="todo_body">
        <% @todo.each do |todo| %>
          <div class="todo-list">
            <%= link_to(todo.text, "/tasks/#{todo.id}") %>
            <%= todo.limit_date %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>