<div class="todo">
  <div class="todo-header">
    <h1>ToDo詳細</h1>
    <div class="todo_main">
      <div class="todo_body">
       <%= @todo.text %>
       <%= @todo.limit_date %>
       <%= Date.today %>
       
      </div>
    </div>
  </div>
</div>