<div class="todo">
  <div class="todo-header">
    <h1>他の人のToDo</h1>
    <div class="todo_main">
      <div class="todo_body">
        <% @todo.each do |todo| %>
          <div class="show-todo-box">
            <div class="show-user-name">
              <%= User.find(todo.user_id).name %>
            </div>
            <div class="show-todo-text">
              <%= todo.text %>
            </div>
            <div class="show-todo-date">
              <%= todo.limit_date %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>