<div class="user">
  <div class="user-header">
    <h1>編集画面</h1>
    <div class="user_main">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag("/user/#{@user.id}/update") do %>
        <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>"><br>
        <% if @user.public %>
          <div class="form-public-box">
            <input type="radio" id="public" name="public" value="true" class="public-radio" checked="checked"><label for="public" class="radio-label">公開</label>
            <input type="radio" id="notpublic" name="public" value="false" class="public-radio public-radio2"><label for="notpublic">非公開</label>
          </div>
        <% else %>
          <div class="form-public-box">
            <input type="radio" id="public" name="public" value="true" class="public-radio"><label for="public" class="radio-label">公開</label>
            <input type="radio" id="notpublic" name="public" value="false" class="public-radio public-radio2" checked="checked"><label for="notpublic">非公開</label>
          </div>
        <% end %>
        <div class="submit-button">
          <input type="submit" value="編集">
        </div>
      <% end %>
    </div>
  </div>
</div>
