<div class="topBox">
  <h2 class="topTitle"<a class="topWelcome">Welcome to</a><br>ToDoパルス</h2>
  <p><%= link_to("新規登録", "/users/new", class:"topList topNew") %></p>
  <p><%= link_to("ログイン", "/login", class:"topList topLogin") %></p>
</div>