/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

.title {
  font-weight: 800;
  font-size: 28px;
  padding-left: 12px;
}

.header {
  height: 80px;
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main {
  padding-bottom: 60px;
  text-align: center;
  max-width: 1000px;
  margin: 120px auto 0;
}

.header-title {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
}

.header-con {
  float: right;
}

.userList {
  color: #2d3133;
  text-decoration: none;
  margin-top: 8px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
  padding-left: 10px;
  color:#2d3133;
  font-size: 14px;
  padding-top: 8px;
}

.fa-bell {
  margin: 0px;
  font-size: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.fa-home {
  margin: 0px;
  font-size: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.fa-user {
  margin: 0px;
  font-size: 24px;
  margin-right: 8px; 
  cursor: pointer;
}

.taskAdd {
  text-decoration: none;
  padding: 8px;
  background-color: #3ecdc6;
  border-radius: 24px;
  margin-bottom: 32px;
  color: white;
  font-size: 16px;
  border: #2d3133 solid 2px;
}

.for-alert {
  height: 12px;
  width: 12px;
  background-color: #3ecdc6;
  border-radius: 6px;
  z-index: 10;
  position: absolute;
  top: 45px;
  right: 200px;
}

.home-user-alert {
  z-index: 20;
  border: black solid 2px;
  border-radius: 20px;
  background-color: white;
  width: 300px;
  max-height: 400px;
  position: absolute;
  z-index: 20;
  right: 200px;
  display: none;
  overflow-y: scroll; 
}

.home-user-box {
  border: black solid 2px;
  border-radius: 20px;
  background-color: white;
  width: 180px;
  position: absolute;
  z-index: 20;
  right: 120px;
  display: none;
}

.box-active {
  display: block;
}

.notice-li {
  border-bottom: gray 1px solid;
  padding-bottom: 4px;
  margin  : 8px;
  text-align: center;
}

.notice-ul a:last-child li {
  border-bottom:  0px;
} 

.notice-text {
  opacity: 0.8;
}

.home-user-ul{
  display: block;
}

.home-user-li{
  float: inherit;
  text-align: center;
  font-size: 18px;
}

.homeUserList {
  text-decoration: none;
  color: black; 
  font-weight: bold;
}

.footer-con {
  display: none;
}

.arrow-box {
  margin: auto;
  background-color: rgba(141, 141, 141, 0.25);
  border-radius: 18px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: calc(50% - 18px);
  height: 36px;
  width: 36px;
  margin-bottom: 8px;
  display: none;
}

.arrow-box-active {
  display: block;
}

.arrow-box:hover {
  background-color: rgba(141, 141, 141, 0.8);
}

.fa-arrow-up {
  padding-top: 6px;
  padding-left: 7px;
  font-size: 24px;
  text-align: center;
  color: rgba(42, 45, 47, 0.25);
}

.fa-arrow-up:hover {
  color: rgba(42, 45, 47, 0.8);
}

footer {
  display: none;
}

@media (max-width: 650px) {
  .header-con ul {
    display: none;
  }

  .footer-con {
    display: block ;
  }

  .topBox {
    padding-top: 32px;
    background-color: rgb(215, 215, 215)
  }

  .topTitle {
    font-size: 48px;
  }

  .topList {
    font-size: 24px;
    padding: 8px 100px;
  }

  .topBox p {
    margin-bottom: 8px;
  }

  .arrow-box {
    position: fixed;
    bottom: 48px;
  }

  .home-user-ul {
    margin-top: 4px;
  }

  .home-user-alert {
    z-index: 10;
    padding: 8px;
    background-color: white;
    height: calc(100% - 145px);
    position: fixed;
    display: none;
    overflow-y: scroll;
    top: 80px;
    left: 0;
    border-radius: 0;
    max-height: none;
    width: auto;
    max-width: 300px;
    min-width: 283px;
    padding: 0;
  }

  .for-alert {
    height: 12px;
    width: 12px;
    background-color: #3ecdc6;
    border-radius: 6px;
    z-index: 30;
    position: fixed;
    top: auto;
    left: auto;
    bottom: 10px;
    left: calc(25% / 2 + 8px);
  }

  .home-user-box {
    background-color: white;
    max-width: 320px;
    position: fixed;
    z-index: 10;
    top: 80px;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0;
    height: 100%;
    min-width: 290px;
    padding-top: 12px;
    border: 2px solid black;
  }

  .homeUserList {
    padding: 0px 12px;
  }

  .home-user-li {
    font-size: 36px; 
    margin: 4px 24px 4px;
    font-weight: bold;

  }

  footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 8px;
    background-color: white;
    position: fixed;
    border-top: 2px solid black;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .fa-bell {
    margin: auto;
  }

  .fa-home {
    margin: auto;
  }

  .fa-user {
    margin: auto;
  }

  .fa-plus-circle {
    margin: auto;
    font-size: 36px;
    cursor: pointer;
    text-decoration: none;
  }
}

.box-active {
  display: block;
}