/* show.html,erb のレイアウト */
.comment-show{
  text-align: center;
}

.comment-show-todo{
  background-color: rgb(210, 210, 210);
  margin-top: 80px;
  padding-top: 12px;
  padding-bottom: 16px;
  margin-bottom: 12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  
}

.comment-show-todo h2{
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  margin-top: 15px;
  
}

.comment-new-button {
  padding: 8px 10px;
  font-size: 12px;
  border: 2px black solid;
  background-color: #3ecdc6;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.comment-box{
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.comment-cnt{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.comment-cnt:first-child{
  border-top: 1px solid black;
}

.comment-cnt div {
  padding-top: 12px;
  padding-bottom: 4px;
  margin-top: auto;
}

.comment-left {
  text-align: center;
  display: flex;
  margin: auto;
}

.comment-user-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  border: solid 2px black;
}

.comment-user-name {
  margin-left: 4px44;
  font-size: 16px;
}

.comment-text{
  padding-top: 24px;
}

.comment-delete {
  padding: 0;
  text-decoration: none;
  width: 68px;
  color: #ed8c4c;
}

.alert-box {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.grid-herf {
  display: grid;
  grid-template-columns: 50% 50%;
}

.active {
  display: block;
}

.alert-yes {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #ed8c4c;
  border: 2px solid gray;
  margin: auto;
  vertical-align: middle;
  padding: 10px 40px;
  font-size: 24px;
  border-radius: 40px;
}

.alert-no {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  border: 2px solid gray;
  margin: auto;
  padding: 0;
  vertical-align: middle;
  padding: 10px 40px;
  font-size: 24px;
  border-radius: 40px;
}

/* new.html.erb のレイアウト */
.comment-new-form {
  text-align: center;
  margin-top: 56px;
  padding-top: 32px;
  background-color: rgb(253, 244, 234);
  padding-bottom: 12px;
}

.newtext {
  padding: 12px;
  font-size: 24px;
}

.comment-new-submit {
  text-align: center;
}