.topBox {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 180px;
  text-align: center;
  background-color: rgb(215, 215, 215);
}

.topTitle {
  color: rgb(0, 0, 0);
  font-size: 80px;
  margin:40px auto 40px;
  padding: 4px 20px;
}


.topWelcome {
  font-size: 56px;
}

.topList {
  text-decoration: none;
  color: black;
  border: 4px gray solid;
  font-size: 36px;
  padding: 8px 120px;
  border-radius: 20px;
}

.topNew {
  color: white;
  background-color: orange;
}

.topLogin {
  background-color: white;
}