.todo {
  text-align: center;
  padding: 20px;
}

.todo_main {
  padding-top: 28px;
  background-color: rgb(253, 244, 234);
  padding-bottom: 12px;
}

/* index.html.erbのレイアウト */
.tab-list {
  display: flex;
  margin-bottom: 8px;
}

.tab-con {
  margin-left: auto;
}

.tab {
  border: black 2px solid;
  border-radius: 2px;
  margin: auto;
  cursor: pointer;
  padding-left: 0;
  padding :5px;
  margin-right: 2px;
}

.tab-active {
  background-color: orange;
}

.todo-list-box {
  display: none;
}

.todo-index-active {
  display: block;
}

.todo-list {
  border-left: 12px solid #3ecdc6;
  
  margin-bottom: 8px;
  background-color: rgb(225, 225, 225);
  padding: 40px 0 12px;
}

.todo-box {
  margin-top: 16px;
}

.list-grid{
  display: grid;
  padding-bottom: 8px;
  grid-template-columns: 33% 33% 33%;
}

.todo-list-out {
  border-left: 12px solid #fd3a3a;
}

.list-text {
  text-decoration: none;
  padding: 8px;
  background-color: #3ecdc6;
  border-radius: 24px;
  margin-bottom: 32px;
}

.todo-list-text {
  text-decoration: none;
  cursor: pointer;
  color: #ff9d00;
  padding-right: 5px;
  padding-left: 12px;
  margin-right: 4px;
}

.todo-list-out div{
  color: #fd3a3a;
}

.index-limit {
  margin-right: 20px;
}

.index-btn-box {
  margin-left: auto;
  text-align: left;
  padding-right: 12px;
}

.index-done-btn {
  padding: 8px 10px;
  border: 2px black solid;
  background-color: #3ecdc6;
  border-radius: 4px;
  cursor: pointer;
}

.sub-cont{
  text-align: center;
  margin: auto;
  margin-top: 16px;
  width: 330px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.edit-pen {
  text-decoration: none;
  color: #ed8c4c;
  padding: 4px 20px 0;
  
}

.done-list.is-hidden {
  visibility: hidden;
}

.fight-todo-box {
  border-bottom: 1px solid black;
  padding-bottom: 16px;
  padding-top: 4px;
}

.fight-todo-box:nth-child(2){
  border-top: 1px solid black;
}

.fight-todo-box:nth-child(2n){
  background-color: rgb(213, 213, 213);
}

/* edit.html.erbのレイアウト */
.edit-btn {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  border-radius: 2px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 0;
  width: 240px;
  padding: 8px 0;
  display: block;
  border: 1px solid #d8dadf;
  letter-spacing: 2px;
  text-decoration: none;
} 

/* show.html.erbのレイアウト */
.show-box{
  display: none;
}

.active-box {
  display: block;
}

.show-todo-box {
  border-bottom: 1px black solid;
  padding-bottom: 16px;
}

.show-todo-box:nth-child(1){
  border-top: 1px solid black;
}

.show-todo-box:nth-child(2n + 1){
  background-color: rgb(213, 213, 213);
}

.comment-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.comment-link h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 32px;
}

.todo-text{
  font-size: 24px;
  font-weight: bold;
}

.todo-date{
  text-align: right;
  padding: 0;
  margin: 0;
  padding-right: 32px;
  margin-bottom: 8px;
}

.fas_button_border{
	padding: 0 20px;
	line-height: 1;
  background-color: rgba(255, 255, 255, 0);
	color: #ed8c4c;
	font-size: 1.4em;
	cursor: pointer;
  border: none;
  text-decoration: none;
}

.fas_button_border_after{
	padding: 0 20px;
	line-height: 1;
  background-color: rgba(255, 255, 255, 0);
	color: #ed8c4c;
	font-size: 1.4em;
	cursor: pointer;
  border: none;
  text-decoration: none;
}

.fas_button_border_after:before{
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: '\f164';
	margin-right: 5px;
  text-decoration: none;
}



.fas_button_border:before{
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 400;
	content: '\f164';
	margin-right: 5px;
  text-decoration: none;
}

.fas_header_bordertransparent{
	padding: 0 20px;
	line-height: 1;
  background-color: rgb(255, 255, 255, 0);
	color: #ed8c4c;
	font-size: 1.4em;
	cursor: pointer;
  border: none;
  text-decoration: none;
}

.fas_header_bordertransparent:before{
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: '\f4ad';
  text-decoration: none;
}

.fa-exclamation-circle {
  text-decoration: none;
  color: #ed8c4c;
  font-size: 1.33333em;
  width: 68px;
  cursor: pointer;
}
