.todo {
  text-align: center;
  padding: 20px;
}

/* index.html.erbのレイアウト */
.tab-list {
  display: flex;
  margin-bottom: 8px;
}

.tab-con {
  margin-left: auto;
}

.tab {
  border: black 2px solid;
  border-radius: 2px;
  margin: auto;
  cursor: pointer;
  padding-left: 0;
  padding :5px;
}

.tab-active {
  background-color: orange;
}

.todo-list-box {
  display: none;
}

.todo-index-active {
  display: block;
}

.todo-list {
  border-left: 12px solid #3ecdc6;
  display: flex;
  margin-bottom: 8px;
  background-color: rgb(225, 225, 225);
  padding: 40px 0;
}

.todo-list-out {
  border-left: 12px solid #fd3a3a;
}

.index-text-box{
  width: 50%;
}

.list-text {
  text-decoration: none;
  padding: 8px;
  background-color: #3ecdc6;
  border-radius: 24px;
}

.todo-list-text {
  text-decoration: none;
  cursor: pointer;
  color: #ff9d00;
  padding-right: 5px;
  padding-left: 12px;
  margin-right: 4px;
}

.todo-list-out div{
  color: #fd3a3a;
}

.index-limit {
  margin-right: 20px;
}

.index-btn-box {
  margin-left: auto;
  padding-right: 12px;
}

.index-done-btn {
  padding: 8px 10px;
  border: 2px black solid;
  background-color: #3ecdc6;
  border-radius: 4px;
}

.done-list.is-hidden {
  visibility: hidden;
}

/* edit.html.erbのレイアウト */
.edit-btn {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  border-radius: 2px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 0;
  width: 240px;
  padding: 8px 0;
  display: block;
  border: 1px solid #d8dadf;
  letter-spacing: 2px;
  text-decoration: none;
} 

/* show.html.erbのレイアウト */
.show-todo-box {
  border-bottom: 1px black solid;
  margin-bottom: 16px;
}

.show-user-name {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
}

.show-todo-text {
  font-size: 16px;
}

.show-todo-date {
  text-align: right;
  padding-right: 8px;
}

.fas_button_border{
	padding: 0 20px;
	line-height: 1;
  background-color: white;
	color: #ed8c4c;
	font-size: 1.4em;
	cursor: pointer;
  border: none;
}

.fas_button_border:before{
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 400;
	content: '\f164';
	margin-right: 5px;
}

.fas_header_bordertransparent{
	padding: 0 20px;
	line-height: 1;
  background-color: white;
	color: #ed8c4c;
	font-size: 1.4em;
	cursor: pointer;
  border: none;
}
.fas_header_bordertransparent:before{
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: '\f4ad';
}
