.form-error{
  width: 50%;
  margin: auto;
  color: red;
  padding-bottom: 5px;
}

.user {
  padding-bottom: 24px;
}

.user-header {
  padding-top: 20px;
  text-align: center;
}

.user-main {
  text-align: center;
  background-color: rgb(253, 244, 234);
  padding-top: 24px;
  padding-bottom: 24px;
}

p {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 5px;
}

input {
  width: 50%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 240px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
}

.submit-button {
  padding-top: 20px;
  margin-bottom: 20px;
}

.flash {
  padding: 10px 0;
  color: white;
  background: rgb(88, 183, 251);
  text-align: center;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.attention {
  padding: 10px 0;
  color: white;
  background: rgb(251, 88, 88);
  text-align: center;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.userEdit {
  padding-top: 8px;
}

.form-public-box {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.public-radio {
  width: auto;
}

.radio-label {
  margin-right: 40px;
}

.public-radio2{
  margin-left: 40px;
}

/* index.html.erb レイアウト */
.fight-path {
  text-decoration: none;
  padding: 8px;
  background-color: #3ecdc6;
  border-radius: 24px;
  margin-bottom: 32px;
}

/* show.html.erb レイアウト */
.user-show-body {
  background-color: bisque;
  margin-bottom: 24px;
}

.user-show-switch {
  cursor: pointer;
  background-color: bisque;
}

.user-show-switch p {
  font-size: 24px;
  font-weight: bold;
}

.cvevron-down {
  display: none;
}

.user-show-box {
  display: none;
}

.active-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  padding: 24px 0;
}

.user-show-border {
  margin-left: auto;
  margin-right: 60px;
}

.user-show-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  border-radius: 100px;
  border: solid 2px black;
}

.user-show-text {
  text-align: left;
  margin-left: 40px;
}

.user-show-name {
  margin-bottom: 4px;
}

.user-show-text p {
  padding: 0;
  margin-bottom: 4px;
}

.userEditList {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 50%  ;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: auto;
  color: #ffffff;
  text-decoration: none;
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 8px 25%;
}

.user_body p {
  font-size: 24px;
}

.user-show-label {
  font-weight: bold;
}

.user-show-box {
  display: none;
}

.chevron-up {
  padding-top: 10px;
}

.active {
  display: block;
}

/* edit.html.erb レイアウト */
.center {
  text-align: center;
  margin: auto;
  border: 2px solid black;
}

#image-wrapper {
  padding-top: 20px;
}

#trim_img_uploder {
  margin-top: 8px;
  width: 50%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
  background-color: white;
}

.user_img {
  display: block;
  margin: auto;
  border: 2px solid black;
  margin-bottom: 4px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

#cropped_canvas {
  display: block;
  margin: auto;
  border: 2px solid black;
  margin-bottom: 4px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.form-wrapper label{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

#modal_area {
  display: none;
  position: absolute;
  background-color: gray;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal_wrapper {
  margin: 60px;
  padding: 60px;
}

.modal_back_area {
  position: relative;
}

#close_button {
  cursor: pointer;
  padding: 12px;
  width: 80px;
  background-color: #3ecdc6;
  color: white;
  margin: 8px 0;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
  cursor: grab;
  outline: initial;
}
.cropper-face:active {
  cursor: grabbing;
} 

@media (max-width: 650px) {
  input {
    width: 80%;
  }

  .user-show-border {
    margin-right: 0;
  }

  .user-show-img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  } 

  #modal_area {
    width: 80%;
    z-index: 10;
    margin-left: 10%;
  }
}

@media (max-width: 400px) {
  .active-grid {
    display: block;
  }

  .user-show-text {
    text-align: left;
    margin-left: 10%;
  }
}