.form-error{
  width: 50%;
  margin: auto;
  color: red;
  padding-bottom: 5px;
}

.user {
  text-align: center;
  padding-top: 20px;
}

.user_main {
  background-color: rgb(253, 244, 234);
  padding-top: 24px;
  padding-bottom: 24px;
}

p {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 5px;
}

input {
  width: 50%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 240px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
}

.submit-button {
  padding-top: 20px;
  margin-bottom: 20px;
}

.flash {
  padding: 10px 0;
  color: white;
  background: rgb(88, 183, 251);
  text-align: center;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.attention {
  padding: 10px 0;
  color: white;
  background: rgb(251, 88, 88);
  text-align: center;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.userEdit {
  padding-top: 8px;
}

.form-public-box {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.public-radio {
  width: auto;
}

.radio-label {
  margin-right: 40px;
}

.public-radio2{
  margin-left: 40px;
}

/* show.html.erb レイアウト */
.user-show-body {
  background-color: bisque;
  margin-bottom: 12px;
}

.user-show-name {
  margin-bottom: 4px;
}

.user-show-switch {
  cursor: pointer;
  background-color: bisque;
}

.cvevron-down {
  display: none;
}

.user-show-box p {
  padding: 0;
  margin-bottom: 4px;
}

.userEditList {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 50%  ;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: auto;
  color: #ffffff;
  text-decoration: none;
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 8px 25%;
}

.user_body p {
  font-size: 24px;
}

.user-show-label {
  font-weight: bold;
}

.user-show-box {
  display: none;
}

.chevron-up {
  margin-top: 4px;
}

.active {
  display: block;
}

.box-active {
  display: block;
}

